
<<<<<<< HEAD
$primary-normal: #06121e;
=======
$primary-normal: #06121e; //#06121e;
>>>>>>> 8f3a43b389a506b753d7af2ebf03772f6c797207
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secundary-normal: #090d11;
$secundary-dark: #06090c;
$secundary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffffff;
$white-dark: #edeaef;
$white-light: #fefbff;

<<<<<<< HEAD
$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;
=======
$red-normal: #510087; //#d94140;
$red-dark: #b42b2b;
$red-light: #ffa200;
>>>>>>> 8f3a43b389a506b753d7af2ebf03772f6c797207
