
header{
    width: 100%;
}

.header-content{
    display: flex;
    align-items:center;
    justify-content: space-between;
<<<<<<< HEAD
=======
    font-family: 'sora', sans-serif;
>>>>>>> 8f3a43b389a506b753d7af2ebf03772f6c797207
}

i{
    color: $white-normal;
}

<<<<<<< HEAD
.header-icons{
    display: flex;
    gap: 14px;
}

.header-icons a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $red-light;
    }
}

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}
=======
.header-list{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
header a {
    text-decoration: none;
    color: $white-normal;
    position: relative;
    justify-content: center;
    padding: 1%;
    font-size: 1.25rem;
    font-weight: bold;
}

.header-list a:hover{
    animation: scaleButton 0.8s alternate infinite;
    color: $red-light;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.07);
    }
 }
>>>>>>> 8f3a43b389a506b753d7af2ebf03772f6c797207

.header-button{
    border: 1px solid $white-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $white-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.header-button:hover{
<<<<<<< HEAD
    border: 1px solid $red-light;
    background-color: $red-light;
}

.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
=======
    border: 1px solid $red-normal;
    background-color: $red-normal;
}

.header-logo{
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
>>>>>>> 8f3a43b389a506b753d7af2ebf03772f6c797207
}

@media screen and (max-width: 768px) {
    .header-content{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    i{
        margin-top: 16px;
        font-size: 34px;
    }

    .header-logo{
        width: 160px;
        margin-top: 46px;
    }

    .header-button{
        display: none;
    }
}